.mainCategory {
  width: 100%;
  min-height: 100vh;
  background: #fafafa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 40px;
    letter-spacing: 1.4px;
    width: 100%;
    text-align: center;
  }

  .mainCatBox {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .singleBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: #fff;
      border: 1px solid rgba(238, 238, 238, 0.575);
      border-radius: 5px;
      padding: 20px;
      width: 32%;
      margin-bottom: 20px;
      height: 180px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 1px;
      transition: 0.2s ease-in-out;
      &:hover {
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        cursor: pointer;
      }
      h5 {
        font-size: 35px;
        color: #fe4a55;

        text-align: center;
      }
      p {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .mainCategory {
    padding: 30px;
    h1 {
      font-size: 30px;
    }

    .mainCatBox {
      width: 100%;
      .singleBox {
        width: 48%;
      }
    }
  }
}
